---
import LegalLayout from '../../layouts/LegalLayout.astro';
---
<LegalLayout
  title="プライバシーポリシー"
  description="ケーキ店向け店頭受取予約システム「いつでもケーキ」のプライバシーポリシー"
>
  <Fragment slot="heading">プライバシーポリシー</Fragment>

  <p>がだんだん株式会社（以下，「当社」といいます。）は，本ウェブサイト上で提供するサービス（以下,「本サービス」といいます。）における，ユーザーの個人情報の取扱いについて，以下のとおりプライバシーポリシー（以下，「本ポリシー」といいます。）を定めます。</p>

  <h2>個人情報の収集について</h2>
  <p>当サイトでは、お問い合わせフォームやコメント欄などを通じて、ユーザーの皆様からお名前、メールアドレスなどの個人情報をご提供いただく場合があります。これらの情報は、お問い合わせへの回答や、サイトのサービス向上のために利用させていただきます。</p>

  <h2>個人情報の利用目的</h2>
  <p>収集した個人情報は、以下の目的で利用いたします。</p>
  <ul>
    <li>お問い合わせへの対応</li>
    <li>サービスの提供・改善</li>
    <li>利用状況の分析</li>
    <li>その他、ユーザーの皆様に有益と思われる情報の提供</li>
  </ul>

  <h2>個人情報の第三者提供について</h2>
  <p>当サイトでは、法令に基づく場合や、ユーザーの同意がある場合を除き、個人情報を第三者に提供することはありません。</p>

  <h2>Cookieの使用について</h2>
  <p>当サイトでは、利便性の向上や利用状況の分析のためにCookieを使用しています。Cookieの使用を望まない場合は、ブラウザの設定で無効にすることができます。</p>

  <h2>アクセス解析ツールについて</h2>
  <p>当サイトでは、Googleアナリティクスなどのアクセス解析ツールを利用しています。これらのツールは、トラフィックデータの収集のためにCookieを使用しています。このデータは匿名で収集されており、個人を特定するものではありません。</p>

  <h2>プライバシーポリシーの変更について</h2>
  <p>当サイトは、必要に応じて本プライバシーポリシーを変更することがあります。変更後のプライバシーポリシーは、当サイトに掲載された時点から効力を生じるものとします。</p>

  <h2>お問い合わせ先</h2>
  <p>プライバシーポリシーに関するお問い合わせは、下記メールアドレス宛にご連絡ください。</p>
  <p>E-mail：info@gadandan.co.jp</p>
</LegalLayout>
