---
import { Image } from 'astro:assets';
import marketChartImage from '../../images/market-chart.png';
---
<section class="section market" id="market">
  <div class="container">
    <h2>成長するオンライン予約市場</h2>
    <div class="market__content">
      <div class="market__text">
        <h3>30代40代の高いEC利用率</h3>
        <p>総務省「情報通信白書」（2023年）では、30代のEC利用率：83.2%、40代のEC利用率：77.8%と高い利用率が示されています。【ネットショッピングの利用率】はどの世代でも利用率は70%～80%前後であり、世代間の差は少ないことから、インターネットショッピングはどの世代でもまんべんなく普及していると言えるでしょう。</p>

        <h3>フードデリバリー・テイクアウト予約市場</h3>
        <p>矢野経済研究所の調査では、フードデリバリー市場は6,834億円（2023年）に達し、2024年には7,253億円に拡大していると予測されています。</p>

        <h3>自社で1000人ユーザー調査</h3>
        <p>当社の調査では、75.8%の顧客がWEB予約に積極的な利用意向を示しており、特に30代では85.9%、40代では74.1%と高い数値を示しています。</p>
      </div>
      <div class="market__chart">
        <Image src={marketChartImage} alt="市場データグラフ" width={600} />
      </div>
    </div>
  </div>
</section>

<style>
  .market {
    background-color: var(--secondary-color);
  }

  .market__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .market__text {
    flex: 1;
    min-width: 300px;
  }

  .market__chart {
    flex: 1;
    min-width: 300px;
    height: auto;
    background-color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
  }

  .market__chart img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
  }
</style>
